<div class="card mt-2 mb-2" style="width: 18rem;">
  <img class="card-img-top img-fluid pl-5 pt-2" style="width: 150px;height: 200px;"
    src="../../../assets/iphone-160307_1280.png" alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">ID : {{prd.id}}</h5>
    <h5 class="card-title">Name : {{prd.Name}}</h5>
    <h6 class="card-text">Quantity : {{prd.Quantity}}</h6>
    <h6 class="card-text">Price : {{prd.Price}}</h6>

    <button class="btn btn-primary ml-3 mt-3" (click)="previous()">Previous</button>
    <button class="btn btn-primary ml-3 mt-3" (click)="next()">Next</button>
    <br>
    <hr>
    <button class="btn btn-primary mt-3 btn-block" (click)="goBack()">Back</button>

  </div>

</div>
